useDynLib(dicosar)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
importFrom(nleqslv, nleqslv)
importFrom(rootSolve, multiroot)
import(numDeriv)
import(MASS)
importFrom("stats", "cor", "dnorm", "pcauchy", "pchisq", "pnorm")
importFrom("utils", "capture.output")
importFrom("BB", "BBsolve")
export(dicosar)