useDynLib(dicosar)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
importFrom(nleqslv, nleqslv)
importFrom(rootSolve, multiroot)
import(numDeriv)
importFrom("stats", "cor", "dnorm", "pcauchy", "pchisq", "pnorm")
importFrom("utils", "capture.output")
export(dicosar)